#!/usr/bin/env bash
set -euo pipefail

# Docs: https://direnv.net/

if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

nix_direnv_watch_file devenv.nix

use flake git+https://gitlab.com/txlab/dx/templates/js --impure --no-write-lock-file

layout node # adds PATH entry node_modules/.bin - https://github.com/direnv/direnv/blob/75d0e63c5bfa0b4b1e3b4b27a6198f2e2f8b79c7/stdlib.sh#L767